h1= title
p Welcome to #{title}  
ul
    li
        a(href='/markdown') Markdown Demo page  
    li
        a(href='/blogs/first.html') My First markdown blog  
    li
        a(href='/blogs/monitor_doc.html') Monitor项目说明  