form(method="post", enctype="multipart/form-data", action="/upload")
        fieldset
            legend 上传文件
            p
                label(for="user[imgs]") PDF:
                    input(type="file", name="imgs")
            p.buttons
                input(type="submit", value="上传")